<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_heart_rate"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_heart_rate"
        android:supportsRtl="true"
        android:theme="@style/Theme.MedSyncPaciente"
        tools:targetApi="31">
        <activity
            android:name=".CambiarCorreoActivity"
            android:exported="false" />
        <activity
            android:name=".AgregarMedicamentoActivity"
            android:exported="false" />
        <activity
            android:name=".RegistroSintomasActivity"
            android:exported="false" />
        <activity
            android:name=".RegistroMedicionesActivity"
            android:exported="false" />
        <activity
            android:name=".GraficasMedicionesActivity"
            android:exported="false" />
        <activity
            android:name=".ReprogramacionCitaActivity"
            android:exported="false" />
        <activity
            android:name=".DetallesCitaActivity"
            android:exported="false" />
        <activity
            android:name=".AddAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".CitasActivity"
            android:exported="false" />
        <activity
            android:name=".DetalleToma"
            android:exported="false" />
        <activity
            android:name=".DetalleCumplimiento"
            android:exported="false" />
        <activity
            android:name=".DetallesTratamiento"
            android:exported="false" />
        <activity
            android:name=".ConfirmarTomaActivity"
            android:exported="false" />
        <activity
            android:name=".ReportActivity"
            android:exported="false" />
        <activity
            android:name=".CambiarPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".PerfilActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".ExportActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".SignupPassword"
            android:exported="false" />
        <activity
            android:name=".Signup"
            android:exported="false" />
        <activity
            android:name=".InicioDeSesion"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
        See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/notification_alert" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/PrimaryColor" />

    </application>



</manifest>